<div class="container">
<%= render 'shared/errors', obj: @user %>
  <div class="row justify-content-center">
  <div class="col-10">
      <%= form_with(model: @user, class: "shadow p-3 mb-3 bg-info rounded", local: true, data: { turbo: false }) do |f| %>
          <div class="form-group row p-3">
              <%= f.label :username, class: "col-2 col-form-label text-light"%>
              <div class="col-10">
              <%= f.text_field :username, placeholder: "Enter your username", class: "form-control shadow rounded"%>
              </div>
          </div>

          <div class="form-group row p-3">
              <%= f.label :email, class: "col-2 col-form-label text-light"%>
              <div class="col-10">
              <%= f.email_field :email, placeholder: "Enter your email address", class: "form-control shadow rounded"%>
              </div>
          </div>

          <div class="form-group row p-3">
              <%=f.label  :password, class: "col-2 col-form-label text-light"%>
              <div class="col-10">
              <%= f.password_field :password, placeholder: "Choose your password", class: "form-control shadow rounded"%>
              </div>
          </div>
        <div class="form-group d-flex justify-content-center p-3">
          <%= f.submit(@user.new_record? ? 'Sign Up' : 'Update account', class: "btn btn-outline-light btn-lg")%>
        </div>
  <%end%>
</div class="mb-4">
    <%= link_to '[ Already have an Alpha Blog account? Log In ]', login_path(@user), class: "d-flex justify-content-center text-info" %>
  </div>
</div>